<!-- Navigation -->
<nav class="navbar fixed-top sticky-top navbar-expand-lg navbar-light" style="background-color: white; position: fixed; width: 100%; top: 0;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active" style="text-align: center;"><a class="link wipe coolBeans activeA" routerLink="/home" routerLinkActive="active">About Me <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class=" link wipe coolBeans" routerLink="/works">WORKS</a></li>
        <li class="nav-item"><a class="link wipe coolBeans" routerLink="/contact">Contact Me</a></li>
        <li class="nav-item"><a class="link wipe coolBeans" routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
  <!-- Navigation END-->
  <br>
  <br>