<!-- Navigation -->
<nav class="navbar fixed-top sticky-top navbar-expand-lg navbar-light" style="background-color: white; position: fixed; width: 100%; top: 0;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active" style="text-align: center;"><a class="link wipe coolBeans activeA" routerLink="/home" routerLinkActive="active">About Me <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class=" link wipe coolBeans" routerLink="/works">WORKS</a></li>
        <li class="nav-item"><a class="link wipe coolBeans" routerLink="/contact">Contact Me</a></li>
        <li class="nav-item"><a class="link wipe coolBeans" routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
  <!-- Navigation END-->
  <br>
  <br>
  <br>
  
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card  style="background-color:white;">
         <mat-card-header><!--style=" display: inline; text-align: center;"> -->
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nirali Gandhi</mat-card-title>
            <!-- <mat-card-subtitle style="color: black;">Full Stack Web Dev</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/MsQy7cY/tuxpi-com-1577360620.jpg">
          <mat-card-content>
            <p style="text-align: center; color: black; font-family: 'Inconsolata', monospace; font-size: large; margin-top: 10px;">
              I am a passionate FullStack Web Developer. I love programming and web developement.
            </p>
          </mat-card-content>
        
          <mat-card-actions style="align-items: center; align-content: center; text-align: center;">
              <mat-icon><i class="fab fa-twitter fa-2x" style="color:#00acee;"></i></mat-icon>
              <mat-icon><i class="fab fa-github custom fa-2x" style="color: black;"></i></mat-icon>
              <mat-icon><i class="fab fa-pinterest custom fa-2x" style="color: #c8232c"></i></mat-icon>
              <mat-icon> <i class="fab fa-instagram custom fa-2x" style="color: #d6249f;"></i></mat-icon>
          </mat-card-actions>
        
        </mat-card>
      </div>
     
    </div>
  <!-- </div> -->
  
  <br>
  <br>
  <h2 style="font-family: 'Luckiest Guy', cursive; font-size: xx-large; text-align: center;">What I do</h2><br>
  <div class="jumbotron">
    <!-- <div class="container"> -->
  <p>I am working towards building Websites and Web apps that works effeciently, have excellent User Experience and 
    never goes crash! I have also developed Progressive web apps , made cross-platform apps using Cordova Plugin.
    I am having 1+ year Experience in web technologies. Further more, I am also giving some time to understand machine
    learning. I like to solve challenges on competitive websites like hackerearth, codechef etc.</p>
  </div>
  <h2 style="font-family: 'Luckiest Guy', cursive; font-size: xx-large; text-align: center;">Skills</h2>
  <br>
  <!-- <div class="container">  -->
    <!-- HTML -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:80%; background-color: #FF5702;">
      <span class="sr-only">80% Complete</span>
      </div> 
      <span class="progress-type">HTML / HTML5</span>
      <span class="progress-completed">80%</span>
    </div><br> 
    <!--CSS  -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:50%; background-color: #2CA6BD;">
      <span class="sr-only">50% Complete</span>
      </div> 
      <span class="progress-type">CSS</span>
      <span class="progress-completed">50%</span>
    </div><br> 
    <!-- Javascript -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:60%; background-color: #FFB902;">
      <span class="sr-only">60% Complete</span>
      </div> 
      <span class="progress-type">Javascript</span>
      <span class="progress-completed">60%</span>
    </div><br> 
    <!-- Angular -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:40%; background-color: #E50000;">
      <span class="sr-only">40% Complete</span>
      </div> 
      <span class="progress-type">Angular 4/7/8</span>
      <span class="progress-completed">40%</span>
    </div><br> 
    <!-- Node.js -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:30%; background-color: #11B800;">
      <span class="sr-only">30% Complete</span>
      </div> 
      <span class="progress-type">Node.js</span>
      <span class="progress-completed">30%</span>
    </div><br> 
    <!-- Mysql -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:20%; background-color: #066FC7;">
      <span class="sr-only">20% Complete</span>
      </div> 
      <span class="progress-type">MySql</span>
      <span class="progress-completed">20%</span>
    </div><br> 
    <!-- Typescript -->
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width:60%; background-color: #580697;">
      <span class="sr-only">60% Complete</span>
      </div> 
      <span class="progress-type">Typescript</span>
      <span class="progress-completed">60%</span>
    </div>
  <!-- </div> -->
  
  <br><br>
  
  <h2 style="font-family: 'Luckiest Guy', cursive; font-size: xx-large; text-align: center;">More About Me</h2>
  <br>
  <div class="jumbotron">
    <!-- <div class="container"> -->
  <p>Other than programming, I love to read books on various subjects like computer science, biographies, thrillers & sc-fi !
  I usually work while listening music almost of all genres from metal to pop and classical Hindi songs.
  As for entertainment, I watch Anime, the second thing to programming which I like most.</p>
  </div>
  <div class="col-sm fontstyle">
    <i class="fas fa-quote-left fa-2x"></i><br>If you are PERSISTENT you will get it.
If you are CONSISTENT you will keep it.
  </div>
  </div>
  
  <br>
  <br>
  
  <footer class="page-footer">
    <div class="container-fluid">
        <p style="text-align: center; font-family: 'Josefin Slab', serif; font-size: medium;">
        Made with <i class="fas fa-heart fa-2x" style="color: red;"></i>  by Nirali Gandhi
      </p>
      </div>
    <div class="footer-copyright text-center py-3" style=" font-family: 'Josefin Slab', serif; font-size: medium;">© 2019 Copyright:
      <!-- <a href="https://mdbootstrap.com/education/bootstrap/" style=" font-family: 'Josefin Slab', serif; font-size: medium;"> NIRALI GANDHI</a> -->
    </div>
  </footer>
  
  